@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: rooSub;
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap')
}

body, html, #__next {
  background-color: white;
  height: 100%;
  font-family: rooSub;
}

.grey {
  color: #a9a9a9;
}

.button {
  color: white;
  padding: 8px 16px;
}

.border {
  border-style: solid;
  border-color: black;
  rotate: 45deg;
  padding: 4px;
}

.border-circle {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 50%;
}

.dashBorder {
  border: 2px dashed #D3D3D3;
  height: 502px;
  width: 502px;
  rotate: 45deg;
}

.dashBorder-sm {
  border: 2px dashed #D3D3D3;
  height: 302px;
  width: 302px;
  rotate: 45deg;
}

.dashBorder-sm-moving {
  border: 2px dashed #D3D3D3;
  height: 302px;
  width: 302px;
  animation: spin 48s linear infinite;
}

.unrotate-anim {
  animation: unspin 48s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

@keyframes unspin {
  100% { transform: rotate(-360deg); }
}

.dashBorder-left {
  border-right: 2px dashed #D3D3D3;
  border-top: 2px dashed #D3D3D3;
  rotate: 45deg;
  position: fixed;
  height: 600px;
  width: 600px;
  left: -430px;
}

.dashBorder-right {
  border-left: 2px dashed #D3D3D3;
  border-bottom: 2px dashed #D3D3D3;
  rotate: 45deg;
  position: fixed;
  height: 600px;
  width: 600px;
}

.unrotate {
  rotate: -45deg;
}

.textfield {
  overflow: hidden;
  width: 100%;
}

.textfield:focus {
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

input:focus {
  text-decoration: none;
}