@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: rooSub;
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap')
}

body, html, #__next {
  background-color: white;
  height: 100%;
  font-family: rooSub;
}


.outerBorder-arrow {
  transform: rotate(45deg);
  padding: 0px;
  rotate: 45deg;
}

.arrowIcon {
  width: 30px;
  height: 30px;
}

/* .outerBorder-arrow:hover {
  border: 2px dashed #e0e0e0;
  padding: 10px;
}

.arrowIcon:hover {
  width: 20px;
  height: 20px;
} */


.translate-fix {
  transform: translate(20%, -0%);
}

.grey {
  color: #a9a9a9;
}

.placeholder-black ::placeholder {
  color: black;
}
.placeholder-black:focus {
  text-decoration: underline;
}

.button {
  color: white;
  padding: 8px 16px;
}

.border {
  border-style: solid;
  border-color: black;
  rotate: 45deg;
  padding: 4px;
  border-width: 1px;
}

.border-white {
  border-style: solid;
  border-color: white;
  border-width: 1px;
  rotate: 45deg;
  padding: 4px;
}

.border-circle {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 50%;
}

.dashBorder {
  border: 2px dashed #D3D3D3;
  height: 502px;
  width: 502px;
  rotate: 45deg;
}

.dashBorder-sm {
  border: 2px dashed #D3D3D3;
  height: 302px;
  width: 302px;
  rotate: 45deg;
}

.dashBorder-sm-moving {
  border: 2px dashed #D3D3D3;
  height: 302px;
  width: 302px;
  animation: spin 48s linear infinite;
}

.unrotate-anim {
  animation: unspin 48s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

@keyframes unspin {
  100% { transform: rotate(-360deg); }
}

.dashBorder-left {
  border-right: 2px dashed #D3D3D3;
  border-top: 2px dashed #D3D3D3;
  rotate: 45deg;
  position: fixed;
  height: 550px;
  width: 550px;
  left: -430px;
}

.dashBorder-right {
  border-left: 2px dashed #D3D3D3;
  border-bottom: 2px dashed #D3D3D3;
  rotate: 45deg;
  position: fixed;
  height: 450px;
  width: 450px;
}

.white {
  color: white;
}

.white-bg {
  background-color: white;
  border-radius: 50%;
  padding: 2px;
}

.white-bg-inner {
  background-color: white;
  color: grey;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid grey;
}

.unrotate {
  rotate: -45deg;
}

.outerBorder-unrotate {
  rotate: 0deg;
}

.textfield {
  overflow: hidden;
  width: 100%;
}

.textfield:focus {
  outline: none;
  background-color: white;
}

.textfield:active {
  background-color: white;
}

input:focus::placeholder {
  color: transparent;
}

input:focus {
  text-decoration: none;
  background-color: white;
}

/* line for picture icons descriptions */

.absoluteTarget {
  position: relative;
}

.iconLine {
  border-bottom: 1px solid black;
  rotate: -90deg;
  position: absolute;
  width: 80px;
  left: 38%;
  top: 87%;
}
.iconText {
  overflow: visible;
  position: absolute;
  top: 100%;
  left: 40%;
  rotate: -45deg;
  transform: translate(-60%, -30%);
  font-size: 12px;
  width: 110px;
  text-align: end;
}
.iconDot {
  padding: 2px;
  position: absolute;
  border: 1px solid black;
  border-radius: 50%;
  left: 50.5%;
  top: 99%;
  background-color: white;
  z-index: 100;
}

.iconLine-left {
  border-bottom: 1px solid black;
  rotate: -90deg;
  position: absolute;
  width: 80px;
  left: 38%;
  top: 16%;
}
.iconDot-left {
  padding: 2px;
  position: absolute;
  border: 1px solid black;
  border-radius: 50%;
  left: 49.5%;
  top: 3%;
  background-color: white;
  z-index: 100;
}
.iconText-left {
  overflow: visible;
  position: absolute;
  top: 0%;
  left: 40%;
  rotate: -45deg;
  transform: translate(45%, -100%);
  font-size: 12px;
  width: 110px;
  text-align: start;
}

.outerBorder-sm {
  border: 2px dashed #e0e0e0;
  transform: rotate(45deg);
  padding: 10px;
}

.outerBorder-sm-unrotate {
  rotate: 0deg;
}

/* resultCategories styling for the diamond */

.fourdiamond {
  border: 2px dashed #D3D3D3;
  padding: 40px;
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  
  overflow: hidden;
  position: relative;
}

.part {
  display: flex;
  align-items:center;
  justify-content: center;
  color: black;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  height: 100%;
}

.left:hover {background: #E1E1E2; cursor: pointer;}
.right:hover {background: #E1E1E2; cursor: pointer;}
.top:hover {background: #E1E1E2; cursor: pointer;}
.bottom:hover {background: #E1E1E2; cursor: pointer;}

/* resultsData */

.grey-hover:hover {
  background: #E1E1E2;
  cursor: pointer;
}

.slight-grey-background {
  background: #ececec;
}

.perc-circle {
  position: relative;
  --size: 300px;
  --stroke-width: 4px;
  margin: 20px;

  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: conic-gradient(
    black calc(var(--percent) ),
    lightgrey 0%
  );
  mask: radial-gradient(farthest-side, transparent calc(100% - var(--stroke-width)), black 0);
  -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - var(--stroke-width)), black 0);
}

.cirle-wrapper {
  position: relative;
  width: 300px;
  height: 300px;
}

.circle-wrapper .label {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

/* Reuse for common style fixes */

.outerBorder {
  border: 2px dashed #e0e0e0;
  transform: rotate(45deg);
  padding: 30px;
}

.responsive-icon {
  width: 140px;
  height: 140px;
}

/* Media Queries */
@media (max-width: 1243px) {
  .title {
    font-size: 96px;
    padding-right: 60px;
  }
}

@media (max-width: 1150px) {
  .dashBorder-sm {
    width: 250px;
    height: 250px;
  }
  .iconLine {
    top: 90%;
    left: 40%;
    width: 55px;
  }
  .iconDot {
    left: 50%;
  }
  .iconLine-left {
    top: 14%;
    left: 41%;
    width: 55px;
  }
  .iconDot-left {
    left: 50%;
  }
}

@media (max-width: 1020px) {
  .title {
    font-size: 64px;
    width: 50%;
    padding-left: 12px;
  }
  .dashBorder-left {
    height: 550px;
    width: 550px;
    left: -430px;
  }
  
  .dashBorder-right {
    height: 400px;
    width: 400px;
    
  }
}

@media (max-width: 825px) {
  .perc-circle {
    --size: 200px; 
  }
  .title {
    font-size: 48px;
  }
  .dashBorder-right {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 768px) {
  .placeholder-black {
    text-decoration: underline;
  }
  .dashBorder {
    width: 300px;
    height: 300px;
  }
  .dashBorder-sm {
    width: 200px;
    height: 200px;
  }
  .fourdiamond {
    width: 300px;
    height: 300px;
  }
  .part {
    font-size: 16px;
  }
  .outerBorder {
    padding: 20px;
  }
  .iconLine {
    width: 30px;
    top: 93%;
    left: 44%;
  }
  .iconLine-left {
    width: 30px;
    top: 11%;
    left: 44.5%;
  }
 
}

@media (max-width: 750px) {
  .dashBorder-left {
    display: none;
  }
  .dashBorder-right {
    display: none;
  }
  .title {
    padding: 0px;
  }
  .arrowIcon {
    height: 20px;
    width: 20px;
  }
}

@media (max-width: 640px) {
  .responsive-icon {
    height: 100px;
    width: 100px;
  }
  .dashBorder-sm {
    width: 150px;
    height: 150px;
  }
  .iconLine {
    left: 42%;
  }
  .iconLine-left {
    left: 43%;
  }
  .arrowIcon {
    height: 15px;
    width: 15px;
  }
  .iconText-left {
    font-size: 10px;
  }
  .iconText {
    font-size: 10px;
  }
  .button-fixes {
    margin-top: 175px;
   }
   .slight-grey-background {
    background: white;
   }
}

@media (max-width: 575px) {
  .fourdiamond {
    width: 250px;
    height: 250px;
  }
  .part {
    font-size: 12px;
  }
  .title {
    font-size: 36px;
  }
}

 @media (max-width: 500px) {
  .dashBorder {
    width: 225px;
    height: 225px;
  }
  .responsive-icon {
    height: 60px;
    width: 60px;
  }
  .dashBorder-sm {
    width: 120px;
    height: 120px;
  }
  .iconLine {
    top: 88%;
    left: 40%;
  }
  .iconLine-left {
    top: 18%;
    left: 41.5%;
  }
  .iconDot-left {
    top: 5%;
  }
  .outerBorder {
    padding: 5px;
  }
  .dashBorder-sm-moving {
    width: 250px;
    height: 250px;
  }
  .iconText-left {
    font-size: 8px;
    max-width: 80px;
  }
  .iconText {
    font-size: 8px;
    max-width: 80px;
  }
  .small-disappear {
    display: none;
  }
 }

 @media (max-width: 450px) {
  .dashBorder-sm {
    width: 80px;
    height: 80px;
  }
  .iconLine {
    width: 8px;
    top: 94%;
    left: 49%;
  }
  .iconLine-left {
    width: 14px;
    top: 12%;
    left: 46%;
  }
  .fourdiamond {
    width: 225px;
    height: 225px;
  }
  .part {
    font-size: 9px;
  }
 }
